---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle
  title="Fahrrad-Index auf Basis von OpenStreetMap — Ein Projekt der OpenStreetMap Verkehrswende-Gruppe"
>
  <ProjectHeadline
    title="Fahrrad-Index aus OSM"
    subtitle="Eine Klassifizierung der Fahrradfreundlichkeit und -eignung des Straßennetzes"
  />

  <ProseSection highlight>
    <p>Foo</p>
  </ProseSection>

  <ProseSection>
    <h2 id="h2">H2</h2>

    <p>Foo</p>
  </ProseSection>
</LayoutArticle>
