---
import OsmBerlinLogo from '../../../../public/osm-verkehrswende-logo-2025.svg'
---

<a href="/" class="-mx-3 mb-0 flex items-center gap-1.5 px-3 hover:bg-blue-50 lg:mb-10">
  <OsmBerlinLogo class="mt-1 max-h-12 flex-none drop-shadow-sm" />
  <h1 class="text-xl leading-none font-semibold lg:text-2xl">
    <span class="hidden lg:inline">OpenStreetMap</span>
    <span class="lg:hidden">OSM</span> Verkehrswende
  </h1>
</a>
<p class="text-sm text-gray-400 lg:mb-5">
  <span>Projektübersicht</span>
</p>
