---
import { twMerge } from 'tailwind-merge'

type Props = {
  title: string
  subtitle: string
  titleClasses?: string | undefined
  subtitleClasses?: string | undefined
}

const { title, subtitle, titleClasses, subtitleClasses } = Astro.props
---

<header>
  <h1
    class={twMerge(
      'bg-gradient-to-br from-teal-500 to-emerald-400 bg-clip-text pb-2 text-4xl font-extrabold leading-8 text-transparent md:text-6xl md:leading-[3.25rem]',
      titleClasses,
    )}
  >
    {title}
  </h1>
  <p class={twMerge('text-3xl font-bold text-sky-700 mb-20', subtitleClasses)}>{subtitle}</p>
</header>
