---
import Link from 'astro-heroicons/solid/Link.astro'
import { twMerge } from 'tailwind-merge'

type Props = {
  id?: string | undefined
  highlight?: boolean | undefined
  classes?: string | undefined
}

const { id, highlight, classes } = Astro.props
---

<section
  id={id}
  class={twMerge(
    'group relative mb-20 rounded-sm',
    'prose prose-lg prose-blue max-w-prose',
    'prose-headings:mb-5 prose-headings:text-sky-700 first:prose-headings:mt-0',
    highlight ? 'bg-emerald-100 p-4' : '',
    id ? 'target:bg-purple-100' : '',
    classes,
  )}
>
  <slot />
  {
    id && (
      <a
        href={`#${id}`}
        title="Link zu diesem Absatz"
        class="opacity-0 transition-opacity group-hover:opacity-70 hover:text-blue-950"
      >
        <Link class="absolute top-1 right-1 size-4" />
      </a>
    )
  }
</section>
