---
import { twMerge } from 'tailwind-merge'

type Props = {
  highlight?: boolean | undefined
  classes?: string | undefined
}

const { highlight, classes } = Astro.props
---

<section
  class={twMerge(
    'prose prose-lg prose-blue max-w-prose mb-20',
    'prose-headings:text-sky-700 prose-headings:mb-5',
    highlight ? 'notice bg-emerald-100' : '',
    classes,
  )}
>
  <slot />
</section>
