---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle title="Mapswipe-Experiment – Gebäude in Berlin aktualisieren">
  <ProjectHeadline
    title="MapSwipe-Experiment"
    subtitle="Gebäude in Berlin aktualisieren und vervollständigen"
  />

  <ProseSection highlight>
    <p>Foo</p>
  </ProseSection>

  <ProseSection>
    <h2 id="verkehrswende-osm">H2</h2>

    <p>Foo</p>
  </ProseSection>
</LayoutArticle>
