---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle title="Mapswipe-Experiment Phase 2: Gebäude eintragen und aktualisieren">
  <ProjectHeadline
    title="MapSwipe-Experiment"
    subtitle="Phase 2: Grid für Grid Gebäude eintragen und aktualisieren"
  />

  <ProseSection highlight>
    <p>Diese Seite ist noch im Aufbau</p>
  </ProseSection>

  <ProseSection>
    <h2 id="verkehrswende-osm">H2</h2>

    <p>Foo</p>
  </ProseSection>
</LayoutArticle>
