---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle title="Mapswipe-Experiment Phase 1: Markieren wo etwas veraltet ist">
  <ProjectHeadline
    title="MapSwipe-Experiment"
    subtitle="Phase 1: Markieren wo etwas veraltet ist"
  />

  <ProseSection highlight>
    <p>Diese Seite ist noch im Aufbau</p>
  </ProseSection>

  <ProseSection>
    <h2 id="verkehrswende-osm">H2</h2>

    <p>Foo</p>
  </ProseSection>
</LayoutArticle>
