<nav
  class="relative z-[1001] h-full w-full px-3 py-3 shadow-xl md:fixed md:z-auto md:w-60 md:py-6 md:shadow-none"
>
  <h1 class="text-xl font-semibold !leading-[1.8rem] md:text-2xl">
    <span class="hidden md:inline">OpenStreetMap</span
    ><span class="inline md:hidden">OSM</span> Verkehrswende
  </h1>
  <p class="text-sm text-gray-400 md:mb-5">
    <a href="https://osm-verkehrswende.de" class="hover:text-teal-500"
      >OpenStreetMap Community</a
    >
  </p>

  <a
    data-show-hide-trigger="navi"
    class="absolute top-5 right-5 block rounded-sm border border-teal-500 bg-teal-200 text-teal-500 print:hidden md:hidden"
  >
    <!-- https://fontawesome.com/v5.15/icons/bars?style=solid -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="h-8 w-8"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </a>

  <div
    data-show-hide-target="navi"
    class="hidden pt-5 transition-all duration-150 md:block md:pt-0"
  >
    {% include menu/projects.html %} {% include menu/news.html %} {% include
    menu/general.html %}
  </div>
</nav>
