---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle
  title="Bänke auf Basis von OpenStreetMap — Ein Projekt der OpenStreetMap Verkehrswende-Gruppe"
>
  <ProjectHeadline
    title="Bänke und öffentliche Sitzgelegenheiten aus OSM"
    subtitle="Tagging, Tools und Analysen"
  />

  <ProseSection highlight>
    <h2 class="sr-only" id="video">Alpha</h2>

    <p class="pt-4">Foo</p>
  </ProseSection>

  <ProseSection>
    <h2 id="verkehrswende-osm">H2</h2>

    <p>Foo</p>
  </ProseSection>
</LayoutArticle>
