---
import Card from '@components/text/Card.astro'
import CardWrapper from '@components/text/CardWrapper.astro'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { getProjects } from '@layouts/utils/getProjects'
import { getRootUrl } from '@layouts/utils/getRootUrl'
import BookOpen from 'astro-heroicons/outline/BookOpen.astro'
import Cube from 'astro-heroicons/outline/Cube.astro'
import DocumentPlus from 'astro-heroicons/outline/DocumentPlus.astro'
import QueueList from 'astro-heroicons/outline/QueueList.astro'
import CalendarDays from 'astro-heroicons/solid/CalendarDays.astro'
import pngSocialSharingFallback from '../../public/social-sharing.png'

const projects = await getProjects()
const showcaseProjects = projects
  ?.filter((p) => p.name.slug !== 'root')
  ?.filter((p) => p.enabled === true)
---

<LayoutArticlePageAstro title="OpenStreetMap Verkehrswende">
  <header class="not-prose">
    <h1
      class="bg-linear-to-br from-teal-500 to-emerald-400 bg-clip-text pb-2 text-4xl leading-8 font-extrabold text-transparent md:text-6xl md:leading-[3.25rem]"
    >
      Mit OSM die Verkehrswende begleiten und beschleunigen
    </h1>
    <p class="-mt-2 text-3xl font-bold text-sky-700">Tagging, Tools und Analysen</p>
  </header>

  <section class="notice prose-sm mt-16 gap-5 bg-emerald-100 sm:flex">
    <iframe
      class="aspect-video w-full overflow-hidden rounded-sm"
      src="https://media.ccc.de/v/fossgis2022-14174-mit-osm-die-verkehrswende-begleiten-tagging-tools-und-analysen/oembed"
      allowfullscreen></iframe>
    <div>
      <h2 class="sr-only" id="video">Vortrag FOSSGIS 2022</h2>
      <p>
        Eine 20-Minunte-Zusammenfassung der Ziele und Projekte der OSM-Verkehrswende-Community. Ein
        Vortrag von der
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/FOSSGIS-2022#Vortrag">
          FOSSGIS-Konferenz 2022
        </a>
        von Alex und Tobias.
      </p>
    </div>
  </section>

  <CardWrapper sectionClasses="mt-16">
    <Card
      external
      href="https://wiki.openstreetmap.org/wiki/Verkehrswende-Meetup"
      text="Wiki öffnen…"
      alt="Verkehrswende Wiki"
      variant="iconGrid"
    >
      <BookOpen class="size-10" />
    </Card>
    <Card
      external
      href="https://wiki.openstreetmap.org/wiki/Verkehrswende-Meetup#Meetups"
      text="Termine anzeigen…"
      alt="Mtl. online Meetup"
      variant="iconGrid"
    >
      <CalendarDays class="size-10" />
    </Card>
  </CardWrapper>

  <CardWrapper headline="Ausgewählte Projekte" sectionClasses="mt-16">
    {
      showcaseProjects?.map((project) => {
        return (
          <Card
            href={getRootUrl(project)}
            text={project.name.name}
            alt={project.meta?.description}
            image={project.meta.image || pngSocialSharingFallback}
            variant="iconImageGrid"
          >
            <Cube class="size-14" />
          </Card>
        )
      })
    }

    <Card
      external
      href="https://wiki.openstreetmap.org/wiki/Verkehrswende-Meetup#Tagging-Proposals"
      text="Unsere Tagging Proposals"
      variant="iconImageGrid"
    >
      <DocumentPlus class="size-14" />
    </Card>
  </CardWrapper>

  <CardWrapper classes="mt-8">
    <p class="my-0 sm:col-span-2">
      Die Projekte der OSM Berlin Gruppe könnten euch auch interessieren:
    </p>
    <Card external href="https://www.osm-berlin.org" text="OSM Berlin Projekte" alt="">
      <QueueList class="size-10" />
    </Card>
  </CardWrapper>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="verkehrswende-osm">Die Verkehrswende &amp; OpenStreetMap</h2>

    <p>
      In Städten und Gemeinden wird die Verkehrswende im Stadtbild sichtbar: Neue Radwege,
      geschützte Kreuzungen und alle drei Monate ein neuer Anbieter für Elektro-Tretroller. Es
      entsteht neue Infrastruktur für Rad- und Fußverkehr, ÖPNV und neue Mobilitätsformen. Der
      verfügbare Straßenraum wird neu aufgeteilt.
    </p>

    <p>
      <strong
        >OpenStreetMap (OSM) kann diesen Transformationsprozess dokumentieren und beschleunigen.</strong
      >
      Dort, wo wir gemeinsam mit Verantwortlichen (v.a. Verwaltung, Planer*innen), Zivilgesellschaft
      und der OSM-Community Daten in OSM erfassen und pflegen, entstehen Synergien und neue Möglichkeiten
      der Prozessbeschleunigung.
    </p>

    <p>
      <strong>Die detailliert erfassten Daten kommen dem breiten OSM-Ökosystem zugute</strong>, zum
      Beispiel Routing-Anbietern, Anbietern von Karten und Themenkarten und allen Werkzeugen, die
      OSM-Daten für die Analyse und Planung von öffentlicher Infrastruktur verwenden.
    </p>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="community">Die OSM Community</h2>

    <p>
      <strong>Für OSM bedeutet das ein Transformationsprozess</strong>, hin zu einer genaueren
      Erfassung von Infrastruktur für Rad- und Fußverkehr und neue Mobilitätsformen. Dabei müssen
      wir als OSM Commmunity prüfen, wie wir bestehende Mapping-Praktiken anpassen, welche neuen
      Tags geeignet sind und an welchen Stellen das Ökosystem an Tools – Editoren, Visualisierungen,
      QA – erweitert werden muss.
    </p>

    <p>
      Um die Verkehrswende in OSM zu begleiten und zu gestalten trifft sich seit Mitte 2019
      monatlich
      <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende"
        >die OSM Berlin Verkehrswende-Gruppe (Wiki)</a
      >
      online. Wir diskutieren und entwickeln verkehrsrelevante Taggings, suchen nach Auswertungs- und
      Erfassungstools und sensibilisieren die Zivilgesellschaft und Verwaltung in Berlin für die wertvollen
      Daten in OSM.
    </p>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="vision">Unsere Visionen und Ambitionen</h2>

    <p>
      Aus Sicht der Verkehrswende gibt es in OSM noch viel zu tun. Nicht nur beim Mapping und
      Tagging, sondern vor allem auch in der Verbreitung und Sichtbarmachung der Daten. Zwar gibt es
      zunehmend Projekte (zivilgesellschaftlich, staatlich oder privatwirtschaftlich), die OSM-Daten
      nutzen oder beitragen, aber das Potential von OSM scheint in der Breite weiterhin unbekannt
      und/oder nicht ausgeschöpft.
    </p>

    <p>
      <strong>Im Folgenden stellen wir ein paar Themen vor</strong> an denen wir in letzter Zeit gearbeitet
      haben und zeigen aus Sicht von OSM und der Verkehrswende, welche Möglichkeiten und Ambitionen es
      gibt. Bitte versteht es auch als Einladung mitzumachen!
    </p>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="bicycle-parking">Daten zu Fahrradständern</h2>

    <h3>Aus OSM-Sicht</h3>

    <p>
      Parkplätze für Fahrräder sind ein <em>un</em>komplizierter Datensatz mit einfachem, gut
      etablierten Tagging.
    </p>

    <h3>Aus Sicht der Verkehrswende</h3>

    <p>
      Gute Infrastruktur zum Parken von Fahrrädern ist ein ein wichtiges Puzzlestück der
      Verkehrswende. Nicht nur für den direkten Zweck des Parkens, sondern auch um Fahrrädern im
      öffentlichen Raum Sichtbarkeit zu geben. Außerdem kann es gute Synergien mit dem Fußverkehr
      geben, wenn z.B. Sichtachsen an Kreuzungen mit Fahrradständern gesichert werden.
    </p>

    <h3>Status Quo</h3>

    <p>
      Unsere Beobachtung ist, dass niemand aktuelle, flächendeckende Daten zu Fahrrad-Parkplätzen
      hat. Dabei gibt es großen Bedarf im Planungsbereich (Verwaltung) und um multimodale Mobilität
      zu fördern.
    </p>

    <h3>An diesen Versatzstücken haben wir bisher gearbeitet</h3>

    <ul>
      <li>
        Eine
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Fahrradparkpl%C3%A4tze"
          >Empfehlung für das Taggen in Berlin</a
        >
        – inkl. einer Tagging-Empfehlung für Lastenradparkplätze und dem dazugehörigen Verkehrszweichen.
      </li>
      <li>
        Ein
        <a href="https://bikeparking.lorenz.lu/"
          >Tool zum Abgleich von OpenData-Datensätzen zu Radinfrastruktur</a
        >.
      </li>
      <li>
        Start der Entwicklung eines
        <a href="https://wiki.openstreetmap.org/wiki/Proposed_features/bicycle_parking:position">
          Tagging-Schemas um die Position von Fahrradständern
        </a>
        (z.B. auf dem Gehweg oder auf der Fahrbahn) für Analysen zu erfassen (Stichwort Flächengerechtigkeit).
      </li>
    </ul>

    <h3>Ambition &amp; Ausblick</h3>

    <p>
      Als OSM-Community können wir Deutschlands vollständigste und aktuellste Datengrundlage und
      Karte für Radständer und die Planung von Fahrrad-Park-Infrastruktur werden. Verwaltungen
      können dies unterstützen, indem sie bekannte Bestandsdaten als OpenData veröffentlichen.
    </p>

    <h3>Weitere interessante Projekte</h3>

    <ul>
      <li>
        Spezial-Editor für Fahrrad-Parkplätze:
        <a
          href="https://mapcomplete.osm.be/cyclofix.html?z=20&lat=52.47396&lon=13.44926&language=de#node/6533644786"
          >mapcomplete.osm.be/cyclofix</a
        >
      </li>
      <li>
        <a href="https://radparken.info/">radparken.info</a> – Ein Projekt der Infostelle Fahrradparken
        (Deutsche Bahn) mit dem Fahrradparkplätze an Bahnhöfen erfasst und geprüft werden können (OpenData
        aber eigene Datenbank).
      </li>
      <!-- TODO BaWü Projekt aufnehmen -->
    </ul>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="car-parking">Daten zu Kfz-Parkplätzen</h2>

    <h3>Aus OSM-Sicht</h3>

    <p>
      Das <code>parking</code>-Schema existiert schon länger, aber ist wenig verbreitet in seiner
      Nutzung und auch im Support bei Editoren oder in der Verwendung bei Analysen. Bisher fehlten
      Lösungen, die Genauigkeit der Daten zu erhöhen ohne die Straße so zu zerstückeln, dass die
      Wartbarkeit der Daten darunter leidet.
    </p>

    <h3>Aus Sicht der Verkehrswende</h3>

    <p>
      Gute Daten zum Fahrbahnparken sind unerlässlich, da eine Verkehrswende auch mit einer
      Umverteilung des öffentlichen (Verkehrs-)Raumes verbunden ist und der “ruhende Verkehr” dabei
      ein enormes Flächenpotential in Relation zu seinem bisherigen Nutzen darstellt (z.B. beim Bau
      eines Radweges statt eines Parkstreifens).
    </p>

    <h3>Status Quo</h3>

    <p>
      Unsere Beobachtung ist, dass niemand aktuelle, flächendeckende, einheitliche Daten zu
      parkenden Autos im Straßenraum hat – auch nicht in den verantwortlichen Ämtern. Auf der
      anderen Seite besteht großes Interesse an den Daten, insbesondere bei kommunalen und
      zivilgesellschaftlichen Akteuren in der Stadt- und Verkehrsplanung.
    </p>

    <h3>An diesen Versatzstücken haben wir bisher gearbeitet</h3>

    <ul>
      <li>
        <strong>Proof Of Concept:</strong> Alex Seidel hat im Berliner Ortsteil Neukölln ein “subtraktives
        Modell” erprobt, das sehr präzise Parkraumanalysen erlaubt. Dafür wird zuerst konsequent mit
        dem <code>parking</code>-Schema gemapped. Anschließend werden zusätzliche Daten erfasst, die
        durch Subtraktion von Bereichen, in denen nicht geparkt werden kann, helfen die
        Datenqualität zu erhöhen (z.B. Kreuzungen, Gehwegübergänge, Einfahrten, Bushaltestellen…;
        vgl.
        <a href="https://parkraum.osm-verkehrswende.org/posts/2021-06-08-vortrag-fossgis">
          Vortrag FOSSGIS 2021: “Parkplatzzählung und Parkraumanalysen auf OSM-Basis”
        </a>). Um das Ergebnis dieser Teilmanuellen Prozessierung zu zeigen, haben wir eine
        Parkraumkarte für die Berliner Stadtteil Neukölln entwickelt, die pro Zoomstufe Details zum
        Parkraum übersichtlich präsentiert (siehe
        <a href="https://parkraum.osm-verkehrswende.org/project-prototype-neukoelln/"
          >parkraum.osm-verkehrswende.org/project-prototype-neukoelln/</a
        >).
      </li>
      <li>
        <strong>Prototype Fund:</strong> Ende 2022 wurden wir <a
          href="https://parkraum.osm-verkehrswende.org/posts/2022-09-01-prototype-fund/"
          >im Rahmen des Protoype Fund gefördert</a
        >. Im diesem Rahmen haben wir die Prozessierung des Proof Of Concept technologisch
        vollständig überarbeitet. Das <a href="https://github.com/osmberlin/osm-parking-processing"
          >Ergebnis ist OpenSource</a
        > und erlaubt über 10 Regionen ihre Parkraumdaten auf unsere Website zu visualisieren und exportieren.
        Dafür haben wir in Kooperation mit dem Radverkehrsatlas-Projekt von <a
          href="https://www.fixmycity.de/">FixMyCity</a
        > eine interaktive Karte mit Analyse- und Summierungsfunktion gebaut.
      </li>
      <li>
        <strong>Kooperation:</strong> 2022 haben wir mit dem Bezirksamt Friedrichshain-Kreuzberg
        <a href="https://fixmyberlin.de/parkraum/friedrichshain-kreuzberg">ein Modellprojekt</a>
        (<a
          href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Parkraum/Mapping_Kampagne_Xhain"
          >Wikisseite</a
        >) durchgeführt um den Parkraum im Bezirk anhand dieses Vorgehens zu erfassen und
        auszuwerten. Die Daten werden wurden diesem Rahmen formal geprüft und stehen jetzt offiziell
        im Datenportal von Friedrichshain-Kreuzberg als OpenData bereit.
      </li>
      <li>
        <strong>Tagging:</strong> 2020 haben wir den
        <a href="https://wiki.openstreetmap.org/wiki/Proposed_features/parking%3Dstreet_side"
          >Tag <code>parking=street_side</code> offiziell eingeführt (Proposal)</a
        >
        um die Daten von separat gemappten Parkbuchten zu verbessern.
      </li>
      <li>
        <strong>Tagging:</strong> 2022 haben wir <a
          href="https://wiki.openstreetmap.org/wiki/Proposal:Street_parking_revision"
          >das <code>parking</code>
          Schema offiziell überarbeitet (Proposal)</a
        >
        und es damit modernisiert, mehr Sonderfälle abgedeckt und stark vereinfacht.
      </li>
      <li>
        <strong>Editor:</strong> Für die Mapping-”Kampagne” in Berlin haben wir den Spezial-Editor von
        Zlant (<a href="https://github.com/zlant/parking-lanes">github.com/zlant/parking-lanes</a>)
        adaptiert in
        <a href="https://tordans.github.io/parking-lanes/">einer Berlin-Edition</a>
        und in diesem Zuge auch den Originaleditor verbessert. Tasking Manager für Straßen-Segmente oder
        MapRoulette.
      </li>
      <li>
        <strong>Kampagnenunterstützung und Datenabgleich:</strong> Für die Mapping-”Kampagne” in Berlin
        haben wir Tools zum Datenabgleich und zur Koordination von Mapper:innen evaluiert und exemplarisch
        angewendet.
      </li>
      <li>
        <strong>OpenData-Kooperation:</strong> In Berlin stehen wir in Kontakt mit anderen Stellen, die
        OpenData zum Parken von KfZ erstellen, vor allem dem dem eUVM Projekt der SenUMVK.
      </li>
    </ul>

    <h3>Ambition &amp; Ausblick</h3>

    <p>
      Für Berlin möchten wir einen offenen, einheitlichen und aktuellen Datensatz für Parken im
      Straßenraum bereitstellen. Dabei werden wir Methoden erproben, die auf andere Städte adaptiert
      werden können. Hervorzuheben ist das Vorgehen im Modellprojekt, bei dem die Verwaltung zu
      Stichtagen die OSM-Daten übernimmt, prüft und für die interne Verwendung freigibt.
    </p>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="cycleway">Daten zu Radwegen</h2>

    <h3>Aus OSM-Sicht</h3>

    <p>
      Radwege sind ein fester Bestandteil von OSM. Der Detailgrad, mit dem sie erfasst sind, ist
      aber fast überall gering – vor allem im Vergleich zu Daten, die wir für Kfz-Infrastruktur
      erheben. Die Qualität von Radwegen lässt sich zur Zeit meist nicht sinnvoll bewerten.
    </p>

    <p>Wir haben Nachholbedarf, aussagekräftige Radwege-Daten zu erfassen:</p>

    <ul>
      <li>
        Es gilt Tags, die Radwege grundlegend beschreiben (insbesondere ihre Breite, <code
          >width</code
        >) oder für andere Wege und insbesondere den Autoverkehr etabliert sind, konsequenter für
        den Radverkehr anzuwenden (z.B. <code>surface</code>, <code>smoothness</code>, <code
          >lit</code
        >).
      </li>
      <li>
        Es ist nach unserer Meinung sinnvoll, straßenbegleitende Wege mit genaueren Geometrien zu
        erfassen, die Routing präzisieren (z.B. über komplexe Kreuzungssituationen) und detaillierte
        Auswertungen der Radwegführung erlauben (z.B. Umfeldanalysen, Gefahrensituationen).
      </li>
      <li>
        Es gilt Attribute, die die Sicherheit eines Radweges an Wegen und Kreuzungen beschreiben zu
        diskutieren, auszuprobieren und ggf. zu etablieren.
      </li>
    </ul>

    <h3>Aus Sicht der Verkehrswende</h3>

    <p>
      Detaillierte, aktuelle Daten zu Radwegen sind für die Verkehrswende unerlässlich. Sie können
      die Basis für die Erstellung von Radnetzen sein und bei der Priorisierung von Maßnahmen
      helfen.
    </p>

    <h3>Status Quo</h3>

    <p>
      Unsere Beobachtung ist, dass niemand flächendeckende, aktuelle, einheitliche und detaillierte
      Daten zu Radinfrastruktur hat. Das hindert und verlangsamt Netz-Planungen und darauf folgende
      Maßnahmen. Zivilgesellschaftliches “Storytelling” und Datenanalysen sind nicht in der Fläche
      möglich.
    </p>

    <h3>An diesen Versatzstücken haben wir bisher gearbeitet</h3>

    <ul>
      <li>
        Umfangreiche Tagging-Empfehlungen zur detaillierten Erfassung von Radwegen und
        Radinfrastrukturen, insbesondere in Berlin:
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Radwege"
          >wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Radwege</a
        >.
      </li>
      <li>
        Start der Entwicklung eines Tagging-Schemas zum Mappen von geschützten Radstreifen, das aber
        auch detaillierte Bewertungen der Abgrenzung eines Radwegs zum fließenden und “gehenden”
        Verkehr als wesentliches Qualitätskriterium ermöglicht:
        <a href="https://wiki.openstreetmap.org/wiki/Proposed_features/cycleway:separation"
          >wiki.openstreetmap.org/wiki/Proposed_features/cycleway:separation</a
        >.
      </li>
      <li>
        Erfolgreiches Proposal zur detaillierten Erfassung von Umlaufsperren/Drängelgittern:
        <a
          href="https://wiki.openstreetmap.org/wiki/Proposed_features/Advanced_cycle_barrier_tagging"
          >wiki.openstreetmap.org/wiki/Proposed_features/Advanced_cycle_barrier_tagging</a
        >.
      </li>
      <li>
        Überlegungen für einen Radwege-Bewertungsindex auf Basis detaillierter OSM-Radverkehrsdaten.
      </li>
    </ul>

    <h3>Ambition</h3>

    <p>
      Die Datenerhebung und -aktualisierung detaillierter Rad-Infrastruktur-Daten für jeden
      einzelnen Akteur ist zu aufwändig. OSM kann der kollaborative Datensatz sein, zu dem alle
      Akteure – auch ohne sich zu kennen – beitragen.
    </p>

    <p>
      Das Thema Radverkehr bewegt insbesondere in Großstädten zur Zeit sehr viele Menschen.
      Vielerorts gibt es eine rege zivilgesellschaftliche und oft datenaffine “Fahrrad-Community”,
      die aber nur selten mit OSM verbunden ist. Lasst uns gemeinsam zeigen, welchen Nutzen OSM in
      diesem Zusammenhang bringen kann und die Daten dafür erheben.
    </p>

    <h3>Weitere interessante Projekte</h3>

    <ul>
      <li>
        <a href="https://maps.bikeottawa.ca/">maps.bikeottawa.ca/</a>
        (Stress Map) und
        <a href="https://fixmyberlin.de/zustand">fixmyberlin.de/zustand</a>
        (Happy Bike Index) sind zwei Projekte, die die Qualität von Radinfrastruktur stadtweit zu bewerten.
      </li>
      <li>
        <a href="https://www.zesplus.de/forschungsprojekt">www.zesplus.de/forschungsprojekt</a>
        ist ein Projekt, bei dem OSM-Daten aufbereitet werden für die Planung eines Radnetzes zwischen
        Gemeinden.
      </li>
    </ul>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="sidewalks">Daten zu Gehwegen</h2>

    <h3>Aus OSM-Sicht</h3>

    <p>
      Zunehmend setzt sich eine separate Kartierweise von Gehwegen durch, wenn es darum geht,
      bessere Wege-Geometrien und -Eigenschaften zu erfassen. Damit werden fortgeschrittene,
      insbesondere barrierefreie Navigation, aber auch breitere Geodaten-Analysemöglichkeiten
      machbar. Wenn überhaupt, beschränken sich diese Daten in OSM zur Zeit jedoch meist noch auf
      separate, oft schwer analysierbare Geometrien und es fehlt an Details zur Wegequalität und
      Barrierefreiheit.
    </p>

    <h3>Aus Sicht der Verkehrswende</h3>

    <p>
      Detaillierte zu Fuß- und Gehwegen sind wertvoll, um die Qualität und Nutzbarkeit von
      Wegenetzen und Kreuzungen für den Fußverkehr bewerten zu können. Es erlaubt, Orte zu
      identifizieren, an denen verbessernde Maßnahmen notwendig sind.
    </p>

    <h3>Status Quo</h3>

    <p>
      Unsere Beobachtung ist, dass das Potential beim Thema Gehwege und Fußverkehr in OSM noch
      längst nicht ausgeschöpft ist. Der Bedarf insbesondere nach barrierefreier Navigation ist
      groß, die Tagging-Schemata zu ihrer Erfassung in OSM sind gut aufgestellt und bereits jetzt
      gibt es vielfältigen Support durch Anwendungen wie StreetComplete oder Rollstuhlkarten.
    </p>

    <h3>An diesen Versatzstücken haben wir bisher gearbeitet</h3>

    <ul>
      <li>
        Umfangreiche Tagging-Empfehlungen zur detaillierten Erfassung von Gehwegen insbesondere in
        Berlin:
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Gehwege"
          >wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Gehwege</a
        >.
      </li>
      <li>
        Start der Entwicklung von erweiterten Tagging-Schema für Querungsstellen z.B. zum Erfassen
        von Gehwegvorstreckungen und randseitigen Markierungen.
      </li>
      <li>
        Fortführen der Entwicklung des Tagging-Schema “<code>is_sidepath</code>” zum Erfassen von
        straßenbegleitenden Wegen, auch als Datengrundlage für Optimierung von Rad- und
        Fußverkehrsrouting (Beispiel:
        <em>“Jetzt rechts auf den Radweg der Sonnenallee abbiegen”</em> bzw.
        <em>“Jetzt rechts auf dem Gehweg der Sonnenalle weitergehen.”</em>)
      </li>
      <li>
        Erfassung detaillierter Gehweg-Daten in der
        <a
          href="https://supaplexosm.github.io/strassenraumkarte-neukoelln/?map=osm#18/52.47472/13.42342"
          >“Modellregion” Neukölln</a
        >.
      </li>
    </ul>

    <h3>Ambition</h3>

    <p>
      Als OSM-Community können wir auch dieses Ideal von möglichst vollständigen und barrierefreien
      Fußverkehrsdaten verwirklichen.
    </p>

    <p>
      Das Gehwege-Mapping ist in OSM vielerorts mangelhaft, auch aus Auswerter- bzw.
      Routing-Perspektive. Wenn wir es schaffen, den Fokus vom “Malen von Gehwegen für den Renderer”
      hin zu “Konstruktion routingfähiger Fußverkehrsnetze mit Wegequalitäts- und
      Barrierefreiheitsdaten” zu verschieben, könnte sich das schnell ändern.
    </p>

    <p>
      Für gehweg-affine Mapper und Communities könnten außerdem lokale Kooperationen mit
      Barrierefreiheits-Initiativen interessant sein, um Daten zu erheben und zielgerichtet
      auszuwerten und zu nutzen.
    </p>
  </section>

  <section class="prose-lg mb-20">
    <h2 class="text-sky-700" id="beschleunigen">Ausblick: Verkehrswende beschleunigen</h2>

    <p>
      Wir hoffen, diese Seiten und Projekte motivieren euch, mitzumachen. Die Verkehrswende braucht
      Datengrundlagen und Beschleunigung – und OSM kann und wird dabei mit vielen wichtigen
      Datensätzen helfen.
    </p>

    <ul>
      <li>
        Wir brauchen Verwaltungen und zivilgesellschaftliche Akteure, die diese Potentiale für sich
        nutzen, die unsere gemeinsamen OSM-Daten verwenden und mithelfen, die Daten zu verbessern. <br
        /><em>Warum?</em> Weil es Diskussionen und Entscheidungen transparenter und demokratischer macht,
        Geschwindigkeit bringt, effizient ist und ganz nebenbei all den Projekten und Unternehm(ung)en
        hilft, die auch mit OSM arbeiten.
      </li>
      <li>
        Wir brauchen professionelle Unterstützer wie NGO's oder Unternehmen, die mit Finanzierung,
        Tooling und Community helfen, unsere OSM-Daten anzureichern und aktuell zu halten. <br /><em
          >Warum?</em
        > Weil sich diese ambitionierte Aufgabe so realistischer erfüllen lässt und es auch in ihrem
        Selbstinteresse liegt, eine hochwertige Datenbasis für ihre Arbeit nutzen zu können.
      </li>
      <li>
        Wir brauchen ehrenamtliche und professionelle Akteure, die unsere OSM-Daten interpretieren,
        visualisieren, auswerten und auf andere Weise nutzen. <br /><em>Warum?</em> Weil Daten kein Selbstzweck
        sind, sondern ein nachhaltiger Mehrwert erst dann entsteht, wenn sie sinnvoll verwendet und kommuniziert
        werden.
      </li>
    </ul>
  </section>

  <section class="text-muted-500 prose-sm mt-10">
    <hr class="my-10" />

    Die Übersicht auf dieser Seite ist zuerst als
    <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/FOSSGIS-2022">
      Beitrag für den Tagungsband der FOSSGIS Konferenz 2022
    </a>
    entstanden und zur Begleitung des
    <a href="https://www.youtube.com/watch?v=IoWiJ-gc8cA"
      >gleichnamigen Vortrags von Alex und Tobias</a
    >.
  </section>
</LayoutArticlePageAstro>
