---
import { CqiMap } from '@components/page_cqi/Map/CqiMap'
import LayoutApp from '@layouts/LayoutApp.astro'
import * as turf from '@turf/turf'
import type { LngLatBoundsLike } from 'react-map-gl/maplibre'

const berlinInnenstadtBbox = [13.2495555, 52.4332834, 13.5120213, 52.5720857] satisfies ReturnType<
  typeof turf.bbox
>
const maxBounds = turf.bbox(
  turf.buffer(turf.bboxPolygon(berlinInnenstadtBbox), 250, {
    units: 'meters',
  }),
) as LngLatBoundsLike

const minZoom = 12
---

<LayoutApp title="Cycling Quality Index Map (ALPHA-Version)">
  <CqiMap client:load maxBounds={maxBounds} minZoom={minZoom} />
  <div class="absolute bottom-3 left-3 rounded bg-white/80 px-1 py-0.5 text-xs">
    Datenstand: 28.02.2024
  </div>
</LayoutApp>
