---
import { CqiMap } from '@components/project_cqi/page_map/CqiMap'
import LayoutApp from '@layouts/LayoutApp.astro'
import * as turf from '@turf/turf'
import type { LngLatBoundsLike } from 'react-map-gl/maplibre'

const berlinInnenstadtBbox = [13.08, 52.336, 13.76, 52.676] satisfies ReturnType<typeof turf.bbox>
const maxBounds = turf.bbox(
  turf.buffer(turf.bboxPolygon(berlinInnenstadtBbox), 250, { units: 'meters' })!,
) as LngLatBoundsLike

const minZoom = 10
---

<LayoutApp title="Cycling Quality Index Map (BETA-Version)">
  <CqiMap client:load maxBounds={maxBounds} minZoom={minZoom} />
  <div class="absolute bottom-3 left-3 rounded-sm bg-white/80 px-1 py-0.5 text-xs">
    Datenstand: 02.03.2024
  </div>
</LayoutApp>
