---
import { CqiRoutingMap } from '@components/project_cqi/page_routing/CqiRoutingMap'
import LayoutApp from '@layouts/LayoutApp.astro'

const center = { lng: 13.4433, lat: 52.4733 }
const minZoom = 14
---

<LayoutApp title="Cycling Quality Index Routing (ALPHA-Version)">
  <CqiRoutingMap client:load center={center} minZoom={minZoom} />
  <div class="absolute bottom-3 left-3 rounded bg-white/80 px-1 py-0.5 text-xs">
    Datenstand: 02.03.2024
  </div>
</LayoutApp>
