---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle noindex title="Crowdmap-Experiment Testgebiet Berlin Xhain">
  <ProjectHeadline title="Crowdmap-Experiment" subtitle="Testgebiet Berlin Xhain" />

  <ProseSection highlight>
    <p>
      Das erste Gebiet, für das wir Crowdmap Prüfung der Gebäude nutzen ist der Bezirk
      Friedrichshain-Kreuzberg (Xhain) in Berlin.
    </p>
    <p><a href="/crowdmap">Mehr über das Projekt…</a></p>
  </ProseSection>

  <ProseSection>
    <h2 id="verkehrswende-osm">Links</h2>

    <ol>
      <li>Zum Crowdmap Projekt – FOLGT</li>
      <li>Zum den Ergebnissen der Prüfung durch Crowdmap – FOLGT</li>
      <li>Zur MapRoulette-Challenge um die Ergebniss-Gebiete in OSM zu verbessern – FOLGT</li>
    </ol>
  </ProseSection>
</LayoutArticle>
