---
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
---

<LayoutArticle
  title="Mapillary Missing Streets — A project of the OpenStreetMap Verkehrswende-Group"
  language="en"
>
  <ProjectHeadline
    title="Mapillary Missing Streets"
    subtitle="Find the streets for your next Mapillary trip…"
  />

  <ProseSection highlight>
    <h2 id="about">About</h2>

    <p>
      Street level imagery is a great way to update OpenStreetMap. We where looking for an easy way
      to find those streets, that require an update.
    </p>
  </ProseSection>

  <ProseSection>
    <h2 id="processing">Processing</h2>

    <p>
      The processing is documented at <a
        href="https://github.com/osmberlin/mapillary-missing-streets/"
        >github.com/osmberlin/mapillary-missing-streets</a
      >. This is where you will find the default settings used to generate the data used on this
      page.
    </p>
  </ProseSection>

  <ProseSection>
    <h2 id="map">Map</h2>

    <p>
      The processing generate pmTiles of a given region. <a href="./map">The map</a> on this website
      is managed at
      <a href="https://github.com/osmberlin/www.osm-verkehrswende.org/"
        >github.com/osmberlin/www.osm-verkehrswende.org</a
      >.
    </p>
  </ProseSection>
</LayoutArticle>
