---
import Card from '@components/text/Card.astro'
import CardWrapper from '@components/text/CardWrapper.astro'
import ProjectHeadline from '@components/text/ProjectHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
import { getCollection } from 'astro:content'
import RectangleStack from 'astro-heroicons/solid/RectangleStack.astro'

const allCampaigns = await getCollection('campaigns')
const sortedCampaigns = allCampaigns
  .filter((c) => c.data.maprouletteChallenge.id)
  .sort((postA, postB) => {
    return new Date(postB.data.pubDate).valueOf() - new Date(postA.data.pubDate).valueOf()
  })
---

<LayoutArticle title="OpenStreetMap Verkehrszeichen Auswertungen und Kampagnen">
  <ProjectHeadline
    title="OpenStreetMap Verkehrszeichen Auswertungen und Kampagnen"
    subtitle="OSM Daten verbessern."
  />

  <ProseSection highlight>
    <p>
      Diese Kampagnen sind die ersten Schritte im Rahmen des Prototype Fund
      Verkehrszeichen-Projektes. Bitte testet sie und helft uns mit <a
        href="https://github.com/osmberlin/www.osm-verkehrswende.org/issues"
        >eurem konstruktiven Feedback in Github Issues</a
      >.
    </p>
  </ProseSection>

  <CardWrapper>
    {
      sortedCampaigns.map((campaign) => (
        <Card
          href={`/${campaign.data.project}/campaigns/${campaign.id.replace('/index', '')}`}
          text={campaign.data.name}
          variant="iconGrid"
        >
          <RectangleStack class="size-14" />
        </Card>
      ))
    }
  </CardWrapper>
</LayoutArticle>
