---
import { twJoin } from 'tailwind-merge'

export interface Props {
  menuHighlight: string | undefined
}

const { menuHighlight } = Astro.props
---

<ul class="prose prose-sm leading-snug mb-4 ml-3 block space-y-3">
  <li>
    <a
      class={(twJoin(menuHighlight === 'contact' ? 'text-black text-bold' : 'hover:text-gray-500'),
      'underline')}
      href="/contact"
      lang="de"
    >
      Kontakt & <br />Datenschutz & <br />Impressum
    </a>
  </li>
</ul>
