---
const { link, name } = Astro.props
---

<a href="/" class="block text-sm text-gray-300 hover:text-blue-500 group-hover/navi:text-gray-400"
  >← Projektübersicht</a
>
<a href={link} class="-mx-3 mb-0 block px-3 hover:bg-blue-50 lg:mb-10">
  <h1 class="text-xl font-semibold !leading-[1.8rem] lg:text-2xl">
    <span class="hidden lg:inline">OpenStreetMap</span>
    <span class="lg:hidden">OSM</span>{' '}
    {name}
  </h1>
</a>
