---
import Header from './NavigationHeaderProject.astro'
import { projectConfigs, type NavigationProjects } from 'src/projectConfigs.const'

interface Props {
  project: NavigationProjects
}

const { project } = Astro.props
const projectConfig = projectConfigs[project]
const CustomHeaderComp =
  'customHeader' in projectConfig && typeof projectConfig.customHeader === 'function'
    ? projectConfig.customHeader
    : undefined
---

<div>
  {
    CustomHeaderComp ? (
      <CustomHeaderComp />
    ) : (
      <Header name={projectConfig.name} link={projectConfig.root} />
    )
  }
</div>
