---
import { getRootUrl } from '@layouts/utils/getRootUrl'
import type { TProjectConfig } from 'keystatic/projectsAstro'
import Header from './NavigationHeaderProject.astro'
import PageAboutHeader from './page_about/PageAboutHeader.astro'

interface Props {
  project: TProjectConfig
}

const { project } = Astro.props
---

<div>
  {
    (() => {
      switch (project.header) {
        case 'AboutHeader':
          return <PageAboutHeader />
        case 'ProjectHeader':
          return <Header name={project.name.name} link={getRootUrl(project)} />
      }
    })()
  }
</div>
