---
import Layout from './Layout.astro'
import Navigation from './Navigation/Navigation.astro'
import { getProject } from './utils/getProject'

type Props = {
  title: string
  noindex?: boolean
}

const { title, noindex } = Astro.props
const project = await getProject(Astro.request.url)
---

<Layout title={title} noindex={noindex}>
  <div class="computed-h-screen flex flex-col text-gray-900 lg:flex-row lg:gap-3">
    <Navigation layoutType="app" project={project} />
    <main class="relative flex-1">
      <slot />
    </main>
  </div>
</Layout>
