---
import ScriptLinkifyHeadlines from '@components/scripts/ScriptLinkifyHeadlines.astro'
import type { LayoutLanguage } from './languages'
import Layout from './Layout.astro'
import Navigation from './Navigation/Navigation.astro'
import { getProject } from './utils/getProject'

type Props = {
  title: string
  noindex?: boolean | undefined
  language?: LayoutLanguage | undefined
}

const { title, noindex, language } = Astro.props
const project = await getProject(Astro.request.url)
---

<Layout title={title} noindex={noindex} language={language}>
  <div class="flex flex-col text-gray-900 lg:flex-row lg:gap-3">
    <Navigation layoutType="article" project={project} />
    <main class="flex-1 px-4 py-6 lg:px-0 lg:pl-5">
      <slot />
    </main>
  </div>
</Layout>

<ScriptLinkifyHeadlines />
